.button-peran {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: #78B3CE;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  font-weight: 700;
}

.button-tombol {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: #133E87;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  font-weight: 700;
}

.button-tombol:hover {
  background-color: #78B3CE;
}
.button-peran:hover {
  background-color: #4338ca;
}

.font-utama {
  font-family: 'Poppins', sans-serif;
  color:#133E87
}

.inputfield{
  width: 20%;
  padding: 1rem;
  font-size: 1.5rem;
  border: 2px solid #78B3CE;
  border-radius: 8px;
  margin-bottom: 1rem;
}

body {
  font-family: 'Poppins', sans-serif;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
